<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'header.html' %}
</head>
<body>
  <!-- content block -->
  {% block content %}{% endblock %}
  <!-- End Content -->
  <!-- Script -->
  <!-- Vendor JS Files -->
  <script src="../web/assets/vendors/purecounter/purecounter_vanilla.js"></script>
  <script src="../web/assets/vendors/aos/aos.js"></script>
  <script src="../web/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../web/assets/vendors/glightbox/js/glightbox.min.js"></script>
  <script src="../web/assets/vendors/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../web/assets/vendors/swiper/swiper-bundle.min.js"></script>
  <script src="../web/assets/vendors/typed.js/typed.min.js"></script>
  <script src="../web/assets/vendors/waypoints/noframework.waypoints.js"></script>
  <script src="../web/assets/vendors/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../web/assets/js/main.js"></script>
</body>
</html>
